.c-facebook {
  color: #3b5998;
}
.c-about {
  color: #fc5c65;
}
.bg-projects {
  background: #45aaf2;
}
.bg-about {
  background: #f7b731;
}
.bg-infos {
  background: #fc5c65;
}
.bg-contact {
  background: #2bcbba;
}
.bg-header {
  background: #fed330;
}
.bg-footer--pre {
  background: #778ca3;
}
.bg-footer {
  background: #4b6584;
}
.header {
  background-image: url("../img/background-werne-xl.jpg");
  background-size: cover;
  background-position: center;
}
.header .logo--cropper {
  width: 110px;
  height: 110px;
  position: relative;
  overflow: hidden;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background: white;
}
.header .logo--cropper img {
  display: inline;
  margin: 22px auto 0 14px;
  height: 70px;
  width: auto;
}
.header .header-navigation a {
  font-size: 26px;
  color: white;
}
.header .header-navigation a:hover {
  text-decoration: none;
}
.mosaic-nav {
  position: relative;
  width: 100%;
}
.mosaic-nav .mosaic-nav-background {
  height: 300px;
  width: 100%;
  background-image: url("../img/background-werne-xl.jpg");
  background-size: cover;
  background-position: center;
  z-index: 0;
}
.mosaic-nav .mosaic-nav-fields {
  height: 300px;
  width: 100%;
  z-index: 1000;
}
.mosaic-nav .mosaic-nav-fields a {
  text-decoration: none;
}
.mosaic-nav .mosaic-nav-fields aside {
  width: 50%;
}
.mosaic-nav .mosaic-nav-fields .button {
  padding: 40px 0 0 45px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.4);
  font-size: 40px;
  z-index: 1001;
}
.mosaic-nav .mosaic-nav-fields .button .caption {
  z-index: 1002;
  padding: 0 15px 0 15px;
}
.mosaic-nav .mosaic-nav-fields .button.bottom {
  border-top: 1px solid #fff;
}
.mosaic-nav .mosaic-nav-fields .button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.mosaic-nav .mosaic-nav-fields .button:hover .bg-projects {
  background: #2d98da;
}
.mosaic-nav .mosaic-nav-fields .button:hover .bg-about {
  background: #fed330;
}
.mosaic-nav .mosaic-nav-fields .button:hover .bg-infos {
  background: #eb3b5a;
}
.mosaic-nav .mosaic-nav-fields .button:hover .bg-contact {
  background: #0fb9b1;
}
.mosaic-nav .mosaic-nav-fields .left {
  height: 100%;
}
.mosaic-nav .mosaic-nav-fields .left .button.top {
  height: 50%;
}
.mosaic-nav .mosaic-nav-fields .left .button.bottom {
  height: 50%;
}
.mosaic-nav .mosaic-nav-fields .right {
  height: 100%;
  border-left: 1px solid #fff;
}
.mosaic-nav .mosaic-nav-fields .right .button.top {
  height: 70%;
}
.mosaic-nav .mosaic-nav-fields .right .button.bottom {
  padding: 16px 0 0 45px;
  height: 30%;
}
.content {
  margin-top: 30px;
}
.footer--pre {
  position: relative;
}
.footer {
  position: relative;
}
.footer .copyright {
  padding-top: 25px;
}
.footer .copyright a {
  color: #f7b731;
}
.footer ul {
  margin: 0;
  padding: 15px 0 0 10px;
  list-style: none;
}
.footer ul li {
  height: 40px;
}
.footer ul li a {
  color: white;
  text-decoration: underline dotted;
}
.footer ul.footer-donations li span {
  margin-top: 10px;
  width: 40px;
}
.footer ul.footer-contact-list svg {
  margin-right: 20px;
  width: 20px;
}
.jumbotron-with-bg {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}
.jumbotron-with-bg a {
  color: white;
}
.jumbotron-with-bg .container {
  color: white;
  text-shadow: #444 0 1px 1px;
  background-color: rgba(0, 0, 0, 0.4);
}
.jumbotron-with-bg .breadcrumb {
  background-color: transparent;
}
